name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

# Prevents multiple runs from the same PR overlapping
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    test:
        name: Code Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: go.mod
                  cache: true

            - name: Install dependencies
              run: |
                  go version
                  make setup

            - name: Run Linter
              run: make lint

            - name: Run Tests and Check Coverage
              run: make test-race-coverage

            - name: Run govulncheck
              uses: golang/govulncheck-action@v1
