name: CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.25"
                  cache: true

            - name: Install dependencies
              run: |
                  go version
                  make setup

            - name: Run Linter
              run: make lint

            - name: Run Tests
              run: make test-race
